* {
  box-sizing: border-box;
}
h1{
  text-align:center;
  font-size:175%;
}
section{
  background-color:#ccc;
  border:solid #000 1px;
  margin:10px;
  float:left;
  position:relative;
  padding:3em .5em .5em;
}
section > h2 {
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  border-style:solid;
  border-color:#000;
  border-width:0 0 1px 1px;
  margin:0;
  padding:.1em 1em;
  font-size:125%;
}
section:nth-child(1) > h2{
  background-color:#fcc;
}
section:nth-child(2) > h2{
  background-color:#f00;
  color:#fff;
}
section:nth-child(3) > h2{
  background-color:#cff;
}
@media (max-width: 767px) { /* Mobile */
  section{
    width:80%;
    margin:20px auto;
    float:none;
  }
}
@media (min-width: 768px) and (max-width: 991px) { /* Tablet */
  section{
    width: calc(50% - 20px);
  }
  section:last-child {
    width:calc(100% - 20px);
    clear:left;
  }
}
@media (min-width: 992px) { /* Desktop */
  section{
    width: calc(33.3% - 20px);
  }
}

