* {
  box-sizing: border-box;
}
section{
  background-color:#ccc;
  border:solid #000 1px;
  margin:10px;
  float:left;
  position:relative;
  padding-top:3em;
}
section > h1 {
  display:inline-block;
  position:absolute;
  top:0;
  right:0;
  border:solid #000 1px;
  margin:0;
  padding:.1em 1em;
}
section:nth-child(1) > h1{
  background-color:#fcc;
}
section:nth-child(2) > h1{
  background-color:#f00;
  color:#fff;
}
section:nth-child(3) > h1{
  background-color:#cff;
}
@media (max-width: 767px) { /* Mobile */
  margin:10px 0;
}
@media (min-width: 768px) and (max-width: 991px) { /* Tablet */
  section{
    width: calc(50% - 20px);
  }
  section:last-child {
    width:calc(100% - 20px);
    clear:left;
  }
}
@media (min-width: 992px) { /* Desktop */
  section{
    width: calc(33.3% - 20px);
  }
}

